
<h1>Detail of Player with Player ID {{userDetail.userId}}</h1>
<table>
    
    <tbody>  
      <tr>
        <th>Player ID</th>
        <td>{{userDetail.userId}}</td>
      </tr> 
      <tr>
        <th>First Name</th>
        <td>{{userDetail.firstName}}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{userDetail.lastName}}</td>
      </tr>
      <tr>
        <th>Age</th>
        <td>{{userDetail.age}}</td>
      </tr>
      <tr>
        <th>Sex</th>
        <td>{{userDetail.sex}}</td>
      </tr>
    </tbody>
</table>
<br>
<button routerLink="/">Go Back</button>


